<div id="show">
  <h1>LIS Sequence Search Results</h1>
  <p>
    <%= link_to "Return to LIS", "http://comparative-legumes.org" %>
  </p>
  <p class="small right"><%= link_to raw("Search Again &raquo;"), :jobs %></p>
  <div id="results" class="ui-widget ui-widget-content ui-corner-all">
    <div id="results-menu" class="ui-widget-header ui-corner-all">
      <span id="menu-loading">
        <p>Searching... <%= image_tag "quorum/loading.gif" %></p>
      </span>

      <span id="tools">
        <button id="remove-filters">remove filter(s)</button>

        <span>
          <button id="filters">select filter</button>
        </span>
        <ul>
          <li><a id="top-hits">top hit(s)</a></li>
          <li><a id="top-hits-per-ref">top hit(s) per reference</a></li>
          <li><a id="top-hits-per-ref-seq">top hit(s) per reference sequence</a></li>
        </ul>

        <input size=10 type="text" name="evalue" id="evalue" value="" placeholder="Evalue" />
        <input size=10 type="text" name="bit_score" id="bit_score" value="" placeholder="Bit Score" />
        <input size=10 type="text" name="pct_identity" id="pct_identity" value="" placeholder="% Identity" />

        <span>
          <button id='view-as'>view as</button>
        </span>
        <ul id="views">
          <li id="dual-view"><a>dual view</a></li>
          <li id="partition-view"><a>partition</a></li>
          <li id="table-view"><a>table</a></li>
          <li id="cmtv"><a>cmtv</a></li>
          <li id="tab"><a>tab delimited</a></li>
          <li id="gff"><a>gff</a></li>
        </ul>
      </span>
    </div>
    <div id="search-results">
      <div id="partition">
        <div id="partition-results"></div>
      </div>
      <div id="table">
        <div id="table-results"></div>
      </div>
    </div>
  </div>

  <div id="detailed_report_dialog" title="Report Details"></div>
</div>
<div id="quorum">
  <hr class="big" />
  <p>
    Powered by <%= link_to "Quorum v#{Quorum::VERSION}", "https://github.com/ncgr/quorum" %>
  </p>
</div>

<%= render :partial => "quorum/jobs/templates/blast_detailed_report_template" %>
<%= render :partial => "quorum/jobs/templates/table_view_template" %>

<script type="text/javascript">
  $(function() {
    QUORUM.pollResults(LSS.collectResults, LSS);
  });
</script>
