<div id="show">
  <h1>Search Results</h1>
  <p class="small"><%= link_to raw("Search Again &raquo;"), :jobs %></p>
  <div id="tabs">
    <ul>
      <li><a href="#tabs-1">Blastn</a></li>
      <li><a href="#tabs-2">Tblastn</a></li>
    </ul>

    <div id="tabs-1">
      <h2>Blastn</h2>
      <div id="blastn-results">
        Searching... <%= image_tag "quorum/loading.gif" %>
      </div>
    </div>

    <div id="tabs-2">
      <h2>Tblastn</h2>
      <div id="tblastn-results">
        Searching... <%= image_tag "quorum/loading.gif" %>
      </div>
    </div>
  </div>
  <div id="detailed_report_dialog" title="Report Details"></div>
</div>

<%= render :partial => "quorum/jobs/templates/blast_template" %>
<%= render :partial => "quorum/jobs/templates/blast_detailed_report_template" %>

<script type="text/javascript" src="/assets/lss.js"></script>
<script type="text/javascript" src="/assets/d3.v2.js"></script>
<script type="text/javascript">
  $(function() {
      LSS.pollResults(<%= @jobs.id %>);
  });
</script>
