<div id="show">
  <h1>Search Results</h1>
  <p class="small right"><%= link_to raw("Search Again &raquo;"), :jobs %></p>
  <div id="results" class="ui-widget ui-widget-content ui-corner-all">
    <div id="results-menu">
      <div id="menu-loading">
        <p>Loading... <%= image_tag "quorum/loading.gif" %></p>
      </div>
      <ol id="selectable-algorithms" class="selectable"></ol>
      <div id="filters">
        <p><hr /></p>
        <ol id="selectable-filters" class="selectable">
          <li class="ui-widget-content ui-selectee">top hit(s)</li>
          <li class="ui-widget-content ui-selectee">top hit(s) per reference sequence</li>
          <li class="ui-widget-content ui-selectee">top hit(s) per reference</li>
          <li class="ui-widget-content ui-selectee">expand tree</li>
        </ol>
        <input size=5 type="text" name="eval" id="eval" value="" placeholder="Evalue" />
        <button id="eval-button">
          filter
        </button>
      </div>
    </div>
    <div id="search-results"></div>
  </div>

  <div id="detailed_report_dialog" title="Quorum Report Details"></div>
</div>
<div id="quorum">
  <hr class="big" />
  <p>
    Powered by <%= link_to "Quorum", "https://github.com/ncgr/quorum" %>
  </p>
</div>

<%= render :partial => "quorum/jobs/templates/blast_detailed_report_template" %>

<script src="/assets/d3.v2.js"></script>
<script src="/assets/lss.js"></script>
<script type="text/javascript">
  $(function() {
    //
    // Asynchronously poll Quorum for search results.
    //
    //  QUORUM.pollResults(id, callback, callback_obj, interval)
    //    id: Job.id
    //    callback: Define your own callback function to override the default.
    //      callback should expect the following params.
    //        id: Job.id (Int),
    //        data: JSON data (JSON),
    //        algorithm: Supported algorithm (String).
    //    callback_obj: Callback object.
    //    interval: poll interval in milliseconds. 5000 default.
    //
    //  Example:
    //    QUORUM.pollResults(<%= @jobs.id %>, MYAPP.myCoolCallback, MYAPP, 5000);
    //
    //  Example callback:
    //    MYAPP.myCoolCallback = function(id, data, algo) {
    //      // awesome logic
    //    };
    //
    QUORUM.pollResults(<%= @jobs.id %>, LSS.collectResults, LSS);
  });
</script>
