<div id="show">
  <h1>Search Results</h1>
  <p class="small"><%= link_to raw("Search Again &raquo;"), :jobs %></p>
  <div id="tabs">
    <ul>
      <li><a href="#tabs-1">Blastn</a></li>
    </ul>

    <div id="tabs-1">
      <h2>Blastn</h2>
      <div id="blastn-eval-filter" class="filter">
        <button type="button" id="blastn-top-hits">
          top hit(s)
        </button>
        <button type="button" id="blastn-top-hit-ref-seq">
          top hit(s) per reference sequence
        </button>
        <button type="button" id="blastn-top-hit-ref">
          top hit(s) per reference
        </button>
        <button type="button" id="blastn-expand-tree">
          expand tree
        </button>
        <input type="text" name="blastn-eval" id="blastn-eval" value="" placeholder="Evalue filter" />
        <button type="button" id="blastn-eval-button">
          filter
        </button>
      </div>
      <div id="blastn-results">
        <div id="blastn-searching">
          Searching... <%= image_tag "quorum/loading.gif" %>
        </div>
      </div>
    </div>

  </div>
  <div id="detailed_report_dialog" title="Report Details"></div>
</div>

<%= render :partial => "quorum/jobs/templates/blast_template" %>
<%= render :partial => "quorum/jobs/templates/blast_detailed_report_template" %>

<script type="text/javascript" src="/assets/lss.js"></script>
<script type="text/javascript" src="/assets/d3.v2.js"></script>
<script type="text/javascript">
  $(function() {
      $("#blastn-eval-filter").hide();

      $("#blastn-top-hits").click(function() {
        LSS.expandTopHits("blastn");
      });

      $("#blastn-top-hit-ref-seq").click(function() {
        LSS.expandTopHitPerRefSeq("blastn");
      });

      $("#blastn-top-hit-ref").click(function() {
        LSS.expandTopHitPerRef("blastn");
      });

      $("#blastn-expand-tree").click(function() {
        LSS.expandTree("blastn");
      });

      $("#blastn-eval-button").click(function() {
        var val = $("#blastn-eval").val();
        LSS.evalueFilter(val, "blastn");
      });

      QUORUM.pollResults(<%= @jobs.id %>, LSS.collectResults, LSS);
  });
</script>
