<div id="show">
  <h1>Search Results</h1>
  <p class="small right"><%= link_to raw("Search Again &raquo;"), :jobs %></p>
  <div id="results" class="ui-widget ui-widget-content ui-corner-all">
    <div id="results-menu">
      <div id="menu-loading">
        <p>Loading... <%= image_tag "quorum/loading.gif" %></p>
      </div>
      <div id="algorithms"></div>
      <button id="view">view selected</button>
      <div id="tools">
        <p><hr /></p>
        <button id="expand-tree">expand tree</button>
        <button id="top-hits">top hit(s)</button>
        <button id="top-hits-per-ref">top hit(s) per reference</button>
        <button id="top-hits-per-ref-seq">top hit(s) per reference sequence</button>
        <input size=5 type="text" name="evalue" id="evalue" value="" placeholder="Evalue" />
        <button id="filter-evalue">filter</button>
        <button id='cmtv'>view in cmtv</button>
      </div>
    </div>
    <div id="search-results"></div>
  </div>

  <div id="detailed_report_dialog" title="Quorum Report Details"></div>
</div>
<div id="quorum">
  <hr class="big" />
  <p>
    Powered by <%= link_to "Quorum", "https://github.com/ncgr/quorum" %>
  </p>
</div>

<%= render :partial => "quorum/jobs/templates/blast_detailed_report_template" %>

<script type="text/javascript">
  $(function() {
    QUORUM.pollResults(<%= @jobs.id %>, LSS.collectResults, LSS);
  });
</script>
