<!DOCTYPE html>
<html>
  <head>
    <title>LIS Sequence Search</title>
    <%= stylesheet_link_tag    "quorum/application" %>
    <%= javascript_include_tag "application", "quorum/application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => name %>
    <% end %>
    <%= yield %>
  </body>
  <script type="text/javascript">
    // Present message to IE < 9 users.
    if ($.browser.msie) {
      if ($.browser.version < 9.0) {
        $('#example-sequences').remove();
        $('form').remove();
        $('#results').remove();
        var msg = "<div class='ui-state-error ui-corner-all' " +
          "style='padding: 0 .7em;'><p class='text'>" +
          "<span class='ui-icon ui-icon-alert' style='float: left; " +
          "margin-right: .3em;';></span>Please upgrade to a modern browser " +
          "in order to access the features of this application." +
          "</p></div>";
        $(msg).insertAfter($('h1'));
      }
    }
  </script>
</html>
