<!DOCTYPE html>
<html>
  <head>
    <title>LIS Sequence Search</title>
    <%= stylesheet_link_tag    "quorum/application" %>
    <%= javascript_include_tag "application", "quorum/application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => name %>
    <% end %>
    <%= yield %>
  </body>
  <script type="text/javascript">
    var upgrade = "<div class='ui-state-error ui-corner-all' " +
      "style='padding: 0 .7em;'><p class='text'>" +
      "<span class='ui-icon ui-icon-alert' style='float: left; " +
      "margin-right: .3em;';></span>Please upgrade to a modern browser " +
      "in order to access the features of this application." +
      "</p></div>";

    // SVG test taken from Modernizr 2.0
    var svgWarning = function svgWarning() {
      if (!!document.createElementNS &&
          !!document.createElementNS('http://www.w3.org/2000/svg', 'svg').createSVGRect) {
        return;
      }
      // Time to upgrade...
      $(upgrade).insertAfter($('h1'));
    };

    svgWarning();
  </script>
</html>
