<!DOCTYPE html>
<html>
  <head>
    <title>Quorum</title>
    <%= stylesheet_link_tag    "quorum/application" %>
    <%= javascript_include_tag "quorum/application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => name %>
    <% end %>
    <%= yield %>
  </body>
</html>
